<div class="hero is-fullheight">
  <div class="hero-body has-text-centered">
    <div class="container is-max-desktop">
      <div class="box">
        <%= render 'form' %>
      </div>
      <div class="box">
        <% @posts.each do |post| %>
          <% user = User.find(post.user_id) %>
          <% time_diff = Time.now - post.created_at %>
          <div class="box is-flex is-flex-direction-column">
            <div class="is-flex is-justify-content-space-between">
              <div class="label">
                <%= user.name %>:
              </div>
              <div class="label">
                <% if time_diff < 3600 %> 
                  <%= "#{time_diff / 60}".scan(/^(\d*)\.?\d*$/)[0][0] + "m" %>
                <% elsif time_diff < 86400 %>
                  <%= "#{time_diff / 3600}".scan(/^(\d*)\.?\d*$/)[0][0] + "h" %>
                <% else %>
                  <%= "#{time_diff / 86400}".scan(/^(\d*)\.?\d*$/)[0][0] + "d" %>
                <% end %>
              </div>
            </div>
            
            <div class="box has-text-left"><%= post.body %></div>

            <div class="has-text-right">
              <% like_user_ids = post.likes.map{|l| l[:user_id]} %>
              <% if like_user_ids.include?(current_user.id) %>
                <% like = Like.where(post_id: post.id, user_id: current_user.id).first %>
                <%= button_to delete_like_path(like.id),
                          method: :delete,
                          class: 'button is-ghost' do %>
                  <i class="fa-solid fa-thumbs-up"></i>
                  <%= like_user_ids.size %>
                <% end %>
              <% else %>
                <%= button_to likes_path, method: :post, class: 'button is-ghost', params: { post_id: post.id } do %>
                  <i class="fa-regular fa-thumbs-up"></i>
                  <%= like_user_ids.size %>
                <% end %>
              <% end %>
              
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>