<%# loop across all friend requests and show them with variable friend request buttons %>


<div class="column is-4 is-offset-4">
  <div class="box">
    <table class="table">
      <thead>Friend Requests</thead>
      <% @friendRequests.each do |fr| %>
        <% if current_user == fr.receiver && fr.status != "accepted" %>
          <div class="is-flex is-justify-content-space-between is-align-content-center">
            <div class="container is-flex">
              <% if fr.requester.profile.avatar.attached? %>
                <%= button_to user_profile_path(user_id: fr.requester, id: fr.requester.profile.id),
                            method: :get, class: 'button is-ghost' do %>
                  <figure class="image is-32x32">
                    <img class="is-rounded" src="<%=(url_for(fr.requester.profile.avatar))%>" width="500">
                  </figure>
                <% end %>
              <% end %>
              <%= button_to user_profile_path(user_id: fr.requester, id: fr.requester.profile.id),
                            method: :get, class: 'button is-ghost' do %>
                <%= fr.requester.name %>
              <% end %>
            </div>
            <%= button_to delete_friend_request_path(fr),
                        method: :delete,
                        class: 'button is-ghost',
                        data: { confirm: "Delete #{fr.requester.name}'s friend request?" } do %>
              <i class="fas fa-user-times"></i>
            <% end %>
            <%= button_to confirm_friend_request_path(fr),
                        method: :post,
                        class: 'button is-ghost' do %>
              <i class="fas fa-user-check"></i>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
