<!DOCTYPE html>
<html>
  <head>
    <title>Odin Facebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <nav class="navbar has-background-primary-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://github.com/greatmomo">
          <%= image_tag("GitHub-Mark-32px.png") %>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Some Option
          </a>
        </div>

        <div class="navbar-end">
          <% if user_signed_in? %>
        <%# Make this whole thing only available if logged in! %>
          <div class="navbar-item">
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                  <span>Notifications</span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                  <a href="" class="dropdown-item">
                    <strong>Friend Request</strong>
                  </a>
                  <a href="" class="dropdown-item">
                    New Post!
                  </a>
                </div>
              </div>
            </div>
            <div class="navbar-item">
              <%= link_to "find friends", users_path, class:"button is-primary navbar-item" %>
            </div>
            <%= button_to "logout", destroy_user_session_path, method: :delete, class:"button is-light navbar-item" %>
          </div>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="columns">
      <div class="column is-3 has-background-info-light">
        Left Sidebar
      </div>

      <div class="column">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
